<div>
    <div class="ingredient-input">Ingredient: <input type="text" id="item-name-{{ ingredientType }}" value=""></div>
    <div class="ingredient-input">Amount: <input type="text" id="item-amount-{{ ingredientType }}" value=""></div>
    <button onclick='addItem("{{ ingredientType }}")' type="button" class="btn btn-outline-info addbutton">Add</button>
</div>
